{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

    <div class="example-wrapper">
    <h1>Liste des articles</h1>

    <br>
    <a href="{{ path('app_createArticle') }}" ><button type="button" class="btn btn-primary">Créer un article </button></a>
    <br><br>

    <table class="table table-light table-striped">
    
    <thead>
    <th scope="col"> Titre </th>
    <th scope="col"> Description </th>
    <th scope="col"> Tag </th>
    <th scope="col" colspan="3" class="thaction">Actions</th>
    </thead>

    {% if (articles == null) %}
        <tr>
            <td colspan="6">Il n'y a pas d'articles</td>
        </tr>
    {% else %}

    <tbody>
    {% for article in articles %}
    <tr>
    <td>{{ article.titre }}</td>
    <td>{{ article.description }}</td>
    <td>{{ article.tag }}</td>
    <td><a href="{{ path('app_showArticle', {id : article.id}) }}"><button type="button" class="btn btn-primary">Afficher</button></a></td>
    <td><a href="{{ path('app_updateArticle', {id : article.id}) }}"><button type="button" class="btn btn-warning">Modifier</button></a></td> 
    <td><a href="{{ path('app_removeArticle', {id : article.id}) }}"><button type="button" class="btn btn-danger">Supprimer</button></a></td> 
    </tr>    
    {% endfor %}
    </tbody>
    {% endif %}
    </table>

    </div>
{% endblock %}
