{% extends 'base.html.twig' %}

{% block title %}Hello CreateArticle !{% endblock %}

{% block body %}

    <div class="example-wrapper">

    <h1>Modifier un article</h1>
    <p>Veuillez saisir les champs à mettre à jour :</p>
    <br>
    <form action="{{ path('app_updateArticle', {'id': article.id}) }}" method="POST">
    <label for="titre">Titre : </label><input class="form-control" type="text" name="titre" id="titre" placeholder="Titre de l'article" value="{{ article.titre }}">
    <label for="titre">Description : </label><input class="form-control" type="text" name="description" id="description" placeholder="Description article" value="{{ article.description }}">
    <label for="titre">Tag : </label><input class="form-control" type="text" name="tag" id="tag" placeholder="Tag" value="{{ article.tag }}">
    <br>
    <button type="submit" name="submit" class="btn btn-primary">Modifier</button>
    &nbsp; <a href="{{ path('app_article') }}" ><button type="button" class="btn btn-outline-secondary">Annuler </button></a>

    </form>


    <br>
    <br>

    
    </div>

{% endblock %}
